In [6]:
Netflix = read.csv("../Data/netflix_recode.csv")

In [5]:
library("dplyr")
library("rcompanion")
library("car")
library("IDPmisc")
install.packages("caret")
install.packages("gvlma")
install.packages("predictmeans")
install.packages("e1071")
install.packages("lmtest")
library("caret")
library("gvlma")
library("predictmeans")
library("e1071")
library("lmtest")

Warning message:
"package 'caret' is in use and will not be installed"
Warning message:
"package 'gvlma' is in use and will not be installed"
Warning message:
"package 'predictmeans' is in use and will not be installed"
Warning message:
"package 'e1071' is in use and will not be installed"
Warning message:
"package 'lmtest' is in use and will not be installed"

In [11]:
# How have movie/show times changed through the decades?

In [7]:
# Create seperate df's for Shows and Movies

In [8]:
NetflixSHOW <- (Netflix %>% filter(type %in% c('SHOW')))

In [9]:
NetflixMOVIE <- (Netflix %>% filter(type %in% c('MOVIE')))

In [10]:
head(NetflixSHOW)

  X  id       title                               type
1  0 ts300399 Five Came Back: The Reference Films SHOW
2  5 ts22164  Monty Python's Flying Circus        SHOW
3 26 ts45948  Monty Python's Fliegender Zirkus    SHOW
4 35 ts20681  Seinfeld                            SHOW
5 44 ts22082  Knight Rider                        SHOW
6 45 ts21715  Thomas & Friends                    SHOW
  description
1 This collection includes 12 World War II-era propaganda films â\200” many of which are graphic and offensive â\200” discussed in the docuseries "Five Came Back."
2 A British sketch comedy series with the shows being composed of surreality, risquÃ© or innuendo-laden humour, sight gags and observational sketches without punchlines.
3 Monty Python's Fliegender Zirkus consisted of two 45-minute Monty Python German television comedy specials produced by WDR for West German television. The two episodes were first broadcast in January and December 1972 and were shot entirely on film and mostly on location in Bavaria, with the first episode recorded in German and the second recorded in English and then dubbed into German.
4 A stand-up comedian and his three offbeat friends weather the pitfalls and payoffs of life in New York City in the '90s. It's a show about nothing.
5 Michael Long, an undercover police officer, is shot while investigating a case and left for dead by his assailants. He is rescued by Wilton Knight, a wealthy, dying millionaire and inventor who arranges life-saving surgery, including a new face and a new identity--that of Michael Knight. Michael is then given a special computerized and indestructible car called the Knight Industries Two Thousand (nicknamed KITT), and a mission: apprehend criminals who are beyond the reach of the law. The series depicts Michael's exploits as he and KITT battle the forces of evil on behalf of the Foundation for Law and Government.
6 Thomas & Friends is a British children's television series, which had its first broadcast on the ITV network on 4 September 1984. It is based on The Railway Series of books by the Reverend Wilbert Awdry and his son, Christopher Awdry. These books deal with the adventures of a group of anthropomorphised locomotives and road vehicles who live on the fictional Island of Sodor. The books were based on stories Wilbert told to entertain his son, Christopher during his recovery from measles. From Series one to four, many of the stories are based on events from Awdry's personal experience.
  release_year age_certification runtime production_countries seasons ...
1 1945         TV-MA             51      ['US']                1      ...
2 1969         TV-14             30      ['GB']                4      ...
3 1972         TV-MA             43      []                    1      ...
4 1989         TV-PG             24      ['US']                9      ...
5 1982         TV-PG             51      ['US']                4      ...
6 1984         TV-Y              10      ['GB']               24      ...
  thriller crime comedy documentation fantasy scifi romance horror history
1 0        0     0      1             0       0     0       0      0
2 0        0     1      0             0       0     0       0      0
3 0        0     1      0             0       0     0       0      0
4 0        0     1      0             0       0     0       0      0
5 0        1     0      0             0       1     0       0      0
6 0        0     1      0             1       0     0       0      0
  music
1 0
2 0
3 0
4 0
5 0
6 1

In [15]:
# Create 3 data frames for 3 different decades

In [12]:
Netflix90 <- (Netflix %>% filter(release_year %in% c('1990','1991','1992','1993','1994','1995','1996','1997','1998','1999')))

In [13]:
Netflix00 <- (Netflix %>% filter(release_year %in% c('2000','2001','2002','2003','2004','2005','2006','2007','2008','2009')))

In [14]:
Netflix10 <- (Netflix %>% filter(release_year %in% c('2010','2011','2012','2013','2014','2015','2016','2017','2018','2019')))

In [16]:
# Check to see of their are movies AND shows in each set.

In [17]:
unique(Netflix90$type)

[1] "MOVIE" "SHOW"

In [19]:
unique(Netflix00$type)

[1] "SHOW"  "MOVIE"

In [20]:
unique(Netflix10$type)

[1] "SHOW"  "MOVIE"

# How have MOVIE times changed over the decades?

In [22]:
# First, let's look at movies from the 90's!

In [24]:
NetflixMOVIE90 <- (Netflix90 %>% filter(type %in% c('MOVIE')))

In [23]:
# Let's look at average movie run time by 90s year

In [27]:
MeansRunTime90 <- NetflixMOVIE90 %>% group_by(release_year) %>% summarize(Mean = mean(runtime))

In [28]:
MeansRunTime90

   release_year Mean
1  1990         119.28571
2  1991          88.72727
3  1992          92.00000
4  1993         119.50000
5  1994         126.58333
6  1995         126.50000
7  1996         105.80000
8  1997         121.07143
9  1998         112.41176
10 1999         123.80000

In [29]:
# And now to find the over all average for all 90s movies

In [30]:
TotalMeansRunTime90 <- NetflixMOVIE90 %>% summarize(Mean = mean(runtime))

In [31]:
TotalMeansRunTime90

  Mean
1 115.6429

In [32]:
# Now the same thing for the 2000's

In [51]:
NetflixMOVIE00 <- (Netflix00 %>% filter(type %in% c('MOVIE')))

In [52]:
MeansRunTime00 <- NetflixMOVIE00 %>% summarize(Mean = mean(runtime))

In [40]:
MeansRunTime00

  Mean
1 114.2981

In [41]:
# And for the 2010's!

In [49]:
NetflixMOVIE10 <- (Netflix10 %>% filter(type %in% c('MOVIE')))

In [50]:
MeansRunTime10 <- NetflixMOVIE10 %>% summarize(Mean = mean(runtime))

In [44]:
MeansRunTime10

  Mean
1 96.86845

In [45]:
# Average for all Movies

In [46]:
MeansRunTimeTotal <- NetflixMOVIE %>% summarize(Mean = mean(runtime))

In [47]:
MeansRunTimeTotal

  Mean
1 115.6429

In [48]:
nrow(NetflixMOVIE90[!is.na(NetflixMOVIE90$runtime),])

[1] 98

In [53]:
nrow(NetflixMOVIE10[!is.na(NetflixMOVIE10$runtime),])

[1] 2136

In [54]:
nrow(NetflixMOVIE00[!is.na(NetflixMOVIE00$runtime),])

[1] 265

nΣ(Xj – X..)2 

n: the sample size of group j
Σ: a greek symbol that means “sum”
Xj: the mean of group j
X..: the overall mean

sample size of group j(sum)(mean of group j- overall mean)2